<div class="col-lg-12">
  <h1 class="page-header">Teams List</h1>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4" style="padding-left: 0;">
        <input placeholder="Season Name" type="text" class="form-control" data-ng-model="teanName"/>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-primary" data-ng-click="editTeamName()">Save</button>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-hover table-striped"  style="margin-top: 10px;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Logo</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in teamsList">
        <td>{{t._id}}</td>
        <td>{{t.name}}</td>
        <td><img src="{{t.logoUrl}}" style="width: 5%;"></td>
        <td>
          <i class="fa fa-fw fa-edit" title="Edit" style="cursor:pointer;" data-ng-click="editTeamClick(t)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
