<div class="col-lg-12">
  <h1 class="page-header">Users List</h1>

  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalConfirmReset" disabled>Reset All Users to 0 points.!!</button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalConfirmRevert" disabled>Revert punctuation!!</button>
  <button type="button" class="btn btn-danger">Clear Users!!</button>
  <button type="button" class="btn btn-primary" data-ng-click="userRankingUpdate()">Update Ranking</button>
  <hr>

  <input type="checkbox" data-ng-model="showOnlyCreated"/> Show Only Created

  <!--<input type="text" data-ng-model="newPoint" placeholder="point"/>
  <input type="text" data-ng-model="userNewPoint" placeholder="user"/>
  <button type="button" class="btn btn-danger" data-ng-click="editPoints()">new point</button>-->
  <hr>

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Email</th>
        <th data-ng-show="!showOnlyCreated">Points</th>
        <th>State</th>
        <th>Favorite Team</th>
        <th>Avatar</th>
        <th>Register Hash</th>
        <th>Register Date</th>
        <th data-ng-show="showOnlyCreated">Resended Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in registeredUsersToShow">
        <th>{{user._id}}</th>
        <td>{{user.user}}</td>
        <!--<td>{{user.email}}</td>-->
        <td>{{user.historicalPunctuation}}</td>
        <td data-ng-show="!showOnlyCreated">{{user.points}}</td>
        <td>{{user.state}}</td>
        <td>{{user.favoriteTeam}}</td>
        <td>{{user.avatar}}</td>
        <td>{{user.registerHash}}</td>
        <td>{{user.registerDate | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
        <td data-ng-show="showOnlyCreated">{{user.resendMailDate}}</td>
        <td>
          <i class="fa fa-fw fa-eye" title="Show User" style="cursor:pointer;"></i>
          <i class="fa fa-fw fa-envelope-o" title="Resend Confirmation Mail" style="cursor:pointer;" data-ng-show="showOnlyCreated" data-ng-click="resendConfirmationMail(user)"></i>
          <i class="fa fa-fw fa-trash" title="Delete" data-toggle="modal" data-target="#myModalConfirm" ng-click="deleteUserClick(user)" style="cursor:pointer;"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row" data-ng-show="showUserData">

  </div>

  <!--Modal Delete -->
  <div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete</h4>
        </div>
        <div class="modal-body">
          Sure you want to delete the selected record?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="canceldeleteUser()">NO</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteUser()">YES</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Delete -->


  <!--Modal Reset Users -->
  <div class="modal fade" id="myModalConfirmReset" tabindex="-1" role="dialog" aria-labelledby="myModalConfirmResetLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalConfirmResetLabel">Delete</h4>
        </div>
        <div class="modal-body">
          Sure you want to reset ALL USERS to 0 points?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelResetAllUsers()">NO</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetAllUsers()">YES</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Reset Users -->

  <!--Modal Reset Users -->
  <div class="modal fade" id="myModalConfirmRevert" tabindex="-1" role="dialog" aria-labelledby="myModalConfirmResetLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalConfirmRevertLabel">Delete</h4>
        </div>
        <div class="modal-body">
          Sure you want to revert punctuations?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelResetAllUsers()">NO</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetAllUsers()">YES</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Reset Users -->
</div>
